.center-content {
    width: 100%;
    margin: auto;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;

    @media $smallest-desktop-minmax {
        padding: 0 10px;
    }

    &:not(.not-relative) {
        position: relative;
    }

    &:not(.nopadding) {
        @media $tablet-max {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &:not(.bigger) {
        @media $small-desktop-min {
            width: $contextPX;
        }

        @media $smallest-desktop-minmax {
            width: $smallerContextPX !important;
        }
    }

    &.bigger {
        @media $small-desktop-min {
            width: $contextPX;
        }

        @media $xl-desktop-min {
            width: $biggerContextPX;
        }

        @media $smallest-desktop-minmax {
            width: $smallerContextPX !important;
        }
    }

    &:not(.unlimited) {
        @media $tablet-max {
            max-width: 320px;
        }
    }

    .center-content {
        @media $tablet-max {
            padding: 0 !important;
        }
    }
}

.full {
    display: block;
    width: 100%;
}

.flexed {
    &:not(.keep-flex) {
        @media $small-desktop-min {
            display: flex;
        }
    }

    &.keep-flex {
        display: flex;
    }
}

.row {
    &:not(.keep-flex) {
        @media $small-desktop-min {
            flex-flow: row wrap;
        }
    }

    &.keep-flex {
        flex-flow: row wrap;
    }
}

.spaced {
    &:not(.keep-flex) {
        @media $small-desktop-min {
            justify-content: space-between;
        }
    }

    &.keep-flex {
        justify-content: space-between;
    }
}

.centered {
    &:not(.keep-flex) {
        @media $small-desktop-min {
            align-items: center;
        }
    }

    &.keep-flex {
        align-items: center;
    }
}

.start {
    &:not(.keep-flex) {
        @media $small-desktop-min {
            align-items: flex-start;
        }
    }

    &.keep-flex {
        align-items: flex-start;
    }
}

.flexed-column {
    &:not(.keep-flex) {
        @media $small-desktop-min {
            flex-flow: column wrap;
        }
    }

    &.keep-flex {
        flex-flow: column wrap;
    }
}

.ai-between {
    &:not(.keep-flex) {
        @media $small-desktop-min {
            display: flex;
            align-items: space-between;
        }
    }

    &.keep-flex {
        display: flex;
        align-items: space-between;
    }
}

.dibfather {
    font-size: 0;
}

.dib {
    display: inline-block;
    vertical-align: top;
}

.cleared {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.transitioned-basic {
    transition: all 0.2s ease-in-out;
}

.hideonmobile {
    @media $tablet-max {
        display: none !important;
    }
}

.mobile-only {
    @media $small-desktop-min {
        display: none !important;
    }
}

.has-low-border {
    position: relative;
    padding-bottom: 13px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 90%;
        background-color: $regularBlue;
        height: 2px;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        height: 3px;
        background-color: $regularBlue;
        width: 84px;

        @media $tablet-max {
            bottom: -2px;
        }

        @media $small-desktop-min {
            bottom: -3px;
        }
    }

    &.smaller-border {
        padding-bottom: 8px;

        &:after {
            width: 85%;
        }
    }
}

.block {
    display: block;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    @extend .ml-auto, .mr-auto;
}

.pos-r {
    position: relative;
}

.first-section {
    @media $small-desktop-min {
        margin-top: $headerHeight;
    }
}

[class*='clamped-'] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamped-2 {
    -webkit-line-clamp: 2;
}

.cover-image {
    AbsfillContainer();
    object-fit: cover;
}

.link-primary {
    @extend .transitioned-basic;

    &:hover {
        text-decoration: underline;
        color: $primary;
    }
}

.max-50 {
    max-width: 50%;
}

.social-icons {
    .social-icon {
        padding: 12px;
        border: 1.5px solid #e1e1e1;
        font-size: 24px;
        border-radius: 7px;
        @extend .transitioned-basic;

        &:hover {
            background-color: lighten($gray, 20);
        }

        & + .social-icon {
            @media $small-desktop-min {
                margin-left: 3.5%;
            }
        }
    }

    .facebook {
        i {
            color: $facebook;
        }

        &:hover {
            background-color: lighten($facebook, 40);
        }
    }

    .youtube {
        i {
            color: $youtube;
        }

        &:hover {
            background-color: lighten($youtube, 40);
        }
    }

    .twitter {
        i {
            color: $twitter;
        }

        &:hover {
            background-color: lighten($twitter, 40);
        }
    }

    .linkedin {
        i {
            color: $linkedin;
        }

        &:hover {
            background-color: lighten($linkedin, 40);
        }
    }

    .instagram {
        i {
            color: $instagram;
        }

        &:hover {
            background-color: lighten($instagram, 40);
        }
    }
}

.screen-reader-text {
    display: none;
}

.rounded {
    border-radius: 10px;
}

.w-100 {
    width: 100%;
}