// # Container Handling #
// ######################

// this is the container size when the resolution is smaller than $context

$smallerContext = 1000
$smallerContextPX = 1000px

// this is the container width on which the mixin toPercentage will be based, if no second param is passed
// also the base wrapper width on desktop resolutions
$context = 1300
$contextPX = 1300px

// a bigger version of the container,
// commonly used on headers and footers
$biggerContext = 1500
$biggerContextPX = 1500px

// Header
$headerHeight = 169px;


// # fonts #
// #########
$os = 'Open Sans'
$fa = 'Font Awesome 5 Free'

// # colors #
// ##########
    
$primary = #3781c3
$primaryL10 = ligthen($primary, 10); 
$primaryL20 = lighten($primary, 20);
$primaryL30 = lighten($primary, 30)
$primaryD10 = darken($primary, 10);
$priamryD20 = darken($primary, 20);

$secondary = darken(#fff6ef, 20);
$secondaryL10 = ligthen($secondary, 10);
$secondaryL20 = lighten($secondary, 20);
$secondaryD10 = darken($secondary, 10);
$secondaryD20 = darken($secondary, 20);

$gray = #7b858a;

$font = #333333; 
$fontLig = lighten($font, 20);


// ## BREAKPOINTS ##
// #################
// sc === screen

xxl-sc = 1700px
xl-sc = 1500px
sc = xl-sc - 1
s-sc = 1200px
xs-sc = 600px
xxs-sc = xs-sc - 1

// MAX
$mobile-max = 'screen and (max-width xxs-sc)'
$tablet-max = 'screen and (max-width s-sc)'
$small-desktop-max = 'screen and (max-width sc)'

// MIN
$tablet-min = 'screen and (min-width xs-sc)'
$small-desktop-min = 'screen and (min-width s-sc)'
$desktop-min = 'screen and (min-width 1279px)'
$xl-desktop-min = 'screen and (min-width xl-sc)'
$xxl-desktop-min = 'screen and (min-width xxl-sc)'

//MINMAX
$tablet-minmax = 'screen and (min-width xs-sc) and (max-width s-sc)'
$small-desktop-minmax = 'screen and (min-width s-sc) and (max-width xl-sc)'
$smallest-desktop-minmax = 'screen and (min-width 998px) and (max-width 1279px)'
$desktop-minmax = 'screen and (min-width 1279px) and (max-width 1400px)'
