.opening-banners {
    [class*='-banner-'] {
        @media $small-desktop-min {
            min-height: 65vh;
            background-color: #e1e1e1;
            border-radius: 25px;
        }


        @media $xl-desktop-min {
            min-height: 55vh;    
        }
    }

    @media $small-desktop-min {
        padding-top: 3vh;
    }
}

.main-banner-70 {
    @media $small-desktop-min {
        width: 70%;
    }
}

.second-banner-28 {
    @media $small-desktop-min {
        width: 28%;
    }
}

.home-forepart {
    @media $small-desktop-min {
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

    @media $xl-desktop-min {
        padding-top: 11vh;
        padding-bottom: 11vh;
    }
}

.home-recommended-block {
    @media $small-desktop-min {
        padding-bottom: 6vh;
    }
}